<h2>User Profile</h2>

<form *ngIf="user" (submit)="saveChanges()">

    <!-- Circle Icon -->
    <div class="icon" [class.online]="user.isLogged"></div>

    <div>
        <label>
            <strong>Name:</strong>
            <input type="text" id="name" class="name" [(ngModel)]="user.name" name="name">
        </label>
    </div>
    
    <div>
        <label>
            <strong>Nickname:</strong>
            <input type="text" id="nickname" class="nickname" [(ngModel)]="user.nickname" name="nickname">
        </label>
    </div>
    
    <div>
        <label>
            <strong>Email:</strong>
            <input type="email" id="email" class="email" [(ngModel)]="user.email" name="email">
        </label>
    </div>
    
    <button type="submit">Update Profile</button>
</form>

<div *ngIf="!user">
    <p>No user data available.</p>
</div>

<!-- Logout Button -->
<button (click)="deconnexion()">Logout</button>
