<header [@fadeInDownAnimation]="hideHeader ? 'void' : '*'" [@fadeInTopAnimation]="hideHeader ? '*' : 'void'"
  class="fixed top-0  text-gray-600 body-font bg-white shadow-sm w-full z-50">
  <div class="  container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900 border-r pr-4 border-gray-500" type="button"
        (click)="onClickHome()">Messages</a>
      <a class="mr-5 hover:text-gray-900  border-r pr-4 border-gray-500">Contacts</a>
      <a class="mr-5 hover:text-gray-900  border-gray-500">

        <button (click)="openDropdown()" type="button" class="relative transition duration-300   border-2   rounded-full bg-slate-200 p-2 hover:bg-slate-100   hover:border-slate-300
                   flex ">

          <i class="fa-regular fa-user"></i>
        </button>
      </a>
      <!--DROPDOWN -->
      <hr *ngIf="dropdownOpen" [@fadeInDownAnimation] class="h-px w-full my-4 bg-gray-200  dark:bg-gray-700">
      <div *ngIf="dropdownOpen" [@fadeInDownAnimation] class=" flex justify-between bg-green-500 rounded-md  ">
        <a (click)="onClickProfil()" *ngIf='this.storageService.get("userLogged") !== null'
          class=" py-2 mr-5 hover:text-gray-900  border-r pr-4 border-gray-500 capitalize">
          Profil
        </a>


        <a (click)="onClickSignIn()" *ngIf='this.storageService.get("userLogged") == null '
          class="block px-4 py-2 capitalize text-gray-800 hover:bg-indigo-500 hover:text-white">
          S'inscrire
        </a>
        <a (click)="onClickLogin()" *ngIf='this.storageService.get("userLogged") == null '
          class="block px-4 py-2  capitalize text-gray-800 hover:bg-indigo-500 hover:text-white">
          Se connecter
        </a>

        <a *ngIf='this.storageService.get("userLogged") !== null' (click)="onClickLogout()"
          class="block px-4 py-2  capitalize text-gray-800 hover:bg-indigo-500 hover:text-white">
          Se deconnecter
        </a>
      </div>
    </nav>

  </div>
</header>
<!--<app-header-sub-info></app-header-sub-info>-->