<app-modal id="addUsersToPrivateCanalModal" title="Assigner des utilisateurs" class="h-full">

</app-modal>
<div class="  ">
  <div *ngIf="canalUsed !== undefined">
    <ul>
      <div #list class="overflow-scroll w-full fixed pt-10 pb-28 h-screen overflow-x-hidden">
        <app-message *ngFor="let message of toDisplay | async" [message]="message" [id]="message.id">
        </app-message>
        <div id="artificialEnd" class="opacity-0 w-full h-1 "></div>
      </div>
    </ul>

    <div class="fixed" id="addMessage"
      [class]="messageService.subjectMessageToRespond.getValue() === undefined ? '' : ''">
      <app-addmessage [messageToDisplay]="messagesToDisplay"> </app-addmessage>
    </div>
  </div>
</div>