<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>
    <div *ngIf='this.storageService.get("userLogged") === undefined'>
        <h1>Accès refusé, veuillez vous connecter pour acceder a l'application</h1>
    </div>
    <div class="pt-16" *ngIf='this.storageService.get("userLogged") !== undefined'>
        <app-canal-list></app-canal-list>
    </div>



</body>

</html>