<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>

    <!-- HEADER-->
    <app-header></app-header>


    <!--AFFICHAGE DYNAMIQUE-->
    <router-outlet></router-outlet>


    <!--FENETRE CHAT-->
    <!-- <app-message-list></app-message-list> -->

    <!-- <app-user-list></app-user-list> -->


    <!-- FOOTER-->
    <app-footer></app-footer>


</body>

</html>