<app-modal id="createCanalModal" title="Créer une discussion" class="h-full">

</app-modal>


<div class="overflow-scroll w-full fixed pt-10 pb-28 h-screen overflow-x-hidden">
  <div *ngIf='this.storageService.get("userLogged") !== undefined' class="pt-1">
    <hr>
    <div class="d-flex justify-content-between m-2">
      <button type="button" (click)="modalService.open('createCanalModal')"
        class="bg-white hover:bg-gray-400 hover:text-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow duration-150"><i
          class="bi bi-plus-circle-fill"> </i>Nouvelle discussions </button>
      <button type="button" class="border rounded-full p-2 font-normal" routerLink="/edit"><i
          class="bi bi bi-pencil-fill"></i> Modifier un canal </button>
    </div>
  </div>
  <div *ngIf="(canals | async) as canals" class="  sm:flex-none md:flex-col md:columns-3 mx-10 md:px-40  ">
    <app-canal-card *ngFor=" let canal of canals" (click)="changeCanal(canal)" [canal]="canal"></app-canal-card>
  </div>


</div>