<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Liste des canaux</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active">Afficher tout les canaux</a>
      </li>
      <div *ngFor="let canal of canals">
        <li class="nav-item" (click)="changeCanal(canal)">
          <a class="nav-link " routerLink="">{{ canal.name }}</a>
        </li>
      </div>
    </ul>

  </div>
</div>


<div class=" container">


  <div class="row d-flex ">
    <app-canal-card class="col-4" *ngFor=" let canal of canals" (click)="changeCanal(canal)"
      [canal]="canal"></app-canal-card>
  </div>

  <div *ngIf="this.userService.userlogged !== undefined">
    <hr>
    <div class="d-flex justify-content-between m-2">
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" aria-pressed="false"
        autocomplete="off" routerLink="/add"><i class="bi bi-plus-circle-fill"> Créer un canal</i> </button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" aria-pressed="false"
        autocomplete="off" routerLink="/edit"><i class="bi bi bi-pencil-fill"> Modifier un canal</i> </button>
    </div>
  </div>
</div>