<p>AJOUTER UN CANAL</p>
<form [formGroup]="form" (submit)="onClick()">
    <label for="canalname">Nom du canal à créer:</label>
    <input 
        type="text" 
        id="canalname" 
        name="canalname" 
        formControlName="canalname"
    ><br><br>
    <label for="canaldesc">Description du canal:</label>
    <input 
        type="textarea" 
        id="canaldesc" 
        name="canaldesc" 
        formControlName="canaldesc"
    ><br><br>
    <p [hidden]="form.valid">Le user name doit faire moins de 10 caractères</p>
    <button [disabled]="form.invalid">Créer canal!</button>
</form>