<footer class="mt-5 bg-light text-center py-4">
    <p>&copy; 2023 Plateforme E-commerce. Tous droits réservés.</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">À propos</a></li>
        <li class="list-inline-item"><a href="#">Conditions d'utilisation</a></li>
        <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
        <li class="list-inline-item"><a href="#">Développeurs: Antoine GUIONNET,Simon MOINET,Gabriel PELAGE, Tony MOUSLI </a></li>
    </ul>
  </footer>