<section class="pt-16 h-100 m-5 mt-3 ">
  <div  *ngIf="this.showAlertSuccess === true"  [@fadeInDownAnimation] class="mb-1 border border-green-300 p-5 rounded-xl text-green-700 bg-green-200 bg-opacity-60" role="alert">
    <h4 class="uppercase font-bold ">Vous êtes désormais connecté !</h4>

    <p class="text-sm mt-2">
      Vous allez être automatiquement rédirigé sur la page d'accueil dans
      quelques secondes.
    </p>
  </div>

  <div *ngIf="this.showAlertError === true"  [@fadeInDownAnimation] class="" role="alert">
    <button type="button" class="" data-bs-dismiss="alert"></button>
    <h4 class="">Echec de la création de l'utilisateur</h4>
    <hr />
    <p>
      {{ errorMessage }}
    </p>
  </div>

  <div class="">
    <div class="">
      <div class="justify-content-center">
        <div class=" ">
          <div class="flex flex-row gap-3">
            <h1 class="text-4xl py-2 font-bold text-slate-600 my-auto">
              Inscription
            </h1>
          </div>
          <div class="font-light text-[#6B7280] pb-8">
            Inscrivez-vous pour profiter des différents services et rejoindre
            vos collaborateurs.
          </div>

          <hr class="pb-6" />
          <form [formGroup]="form" (submit)="register($event)" class="mx-1">
            <div class="mb-2">
              <input
                type="email"
                id="email"
                name="email"
                formControlName="email"
                [ngClass]="
                  form.get('email')?.invalid && form.get('email')?.touched
                    ? 'border-red-500 animate-shake animate-reverse'
                    : form.get('email')?.valid &&
                      form.get('email')?.value.length > 0
                    ? 'border-green-400'
                    : 'border-slate-300'
                "
                class="border p-2 border-slate-300 shadow-sm w-full rounded-xl"
                placeholder="Saisir une adresse mail."
                required
              />
              <div
                *ngIf="form.get('email')?.hasError('email')"
                class="bg-red-100 mt-2 py-2 px-5 animate-fade-down rounded-lg mb-2"
              >
                <ul class="text-red-500 list-disc">
                  <li>L'email n'est pas valide.</li>
                </ul>
              </div>
            </div>

            <div class="mb-2">
              <input
                type="password"
                id="password"
                class="border p-2 bg-white border-slate-300 shadow-sm w-full rounded-xl"
                placeholder="Saisir un mot de passe."
                name="password"
                formControlName="password"
                [minLength]="8"
                required
                [ngClass]="
                  form.get('password')?.invalid && form.get('password')?.touched
                    ? 'border-red-500 animate-shake animate-reverse'
                    : form.get('password')?.valid &&
                      form.get('password')?.touched
                    ? 'border-green-400'
                    : 'border-slate-300'
                "
                (keyup)="this.onPasswordInput()"
                (change)="this.onPasswordInput()"
              />

              <div
                [@fadeOut]="form.get('password')?.invalid"
                *ngIf="
                  form.get('password')?.invalid &&
                  form.get('password')?.value.length > 0
                "
                class="bg-red-100 mt-2 py-2 px-5 animate-fade-down rounded-lg mb-2"
              >
                  <ul class="text-red-500 list-disc">
                    <li [@fadeOut]="passwordLengthState">
                      Doit contenir 8 caractères.
                    </li>
                    <li [@fadeOut]="passwordCapitalLetterState">
                      Doit contenir une majuscule.
                    </li>
                    <li [@fadeOut]="passwordNumberState">
                      Doit contenir un chiffre.
                    </li>
                    <li [@fadeOut]="passwordSpecialCharacterState">
                      Doit contenir un caractère spécial (",?;:§% ...).
                    </li>
                  </ul>
              </div>
            </div>

            <div class="mb-2">
              <input
                type="password"
                id="confirmPassword"
                class="border p-2 bg-white border-slate-300 shadow-sm w-full rounded-xl"
                placeholder="Confirmer le mot de passe."
                name="confirmPassword"
                formControlName="confirmPassword"
                required

                [ngClass]="
form.errors?.['passwordsMismatch'] && form.get('confirmPassword')?.touched
                    ? 'border-red-500 animate-shake animate-reverse'
                    : form.get('confirmPassword')?.valid &&
                      form.get('confirmPassword')?.touched
                    ? 'border-green-400'
                    : 'border-slate-300'
                "
              />

              <div
                [@fadeOut]="form.get('confirmPassword')?.invalid"
                *ngIf="form.errors?.['passwordsMismatch'] "
                class="bg-red-100 mt-2 py-2 px-5 animate-fade-down rounded-lg mb-2"
              >
                  <ul class="text-red-500 list-disc">
                    <li>Les mots de passe doivent être identiques</li>
                  </ul>
              </div>
            </div>


                          <div class="mb-2">
              <input
                type="name"
                id="name"
                name="name"
                formControlName="name"
                [minLength]="3"

                [ngClass]="
                  form.get('name')?.invalid && form.get('name')?.touched && form.get('name')?.value.length == 0
                    ? 'border-red-500 animate-shake animate-reverse'
                    : form.get('name')?.valid &&
                      form.get('name')?.touched
                    ? 'border-green-400'
                    : 'border-slate-300'
                "
                class="border p-2 border-slate-300 shadow-sm w-full rounded-xl"
                placeholder="Saisir un nom."
                required
              />
              <div
                *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
                class="bg-red-100 mt-2 py-2 px-5 animate-fade-down rounded-lg mb-2"
              >
                <ul class="text-red-500 list-disc">
                  <li>Doit contenir 3 caractères minimum</li>
                </ul>
              </div>
            </div>


            <!--

            <div class="mb-2">
              <input
                id="name"
                name="name"
                formControlName="name"
                type="text"
                class="border p-2 bg-white border-slate-300 shadow-sm w-full rounded-xl"
                placeholder="Saisir un nom. "
                [minLength]="3"
                required
                [ngClass]="
                  form.get('name')?.invalid && form.get('name')?.touched
                    ? 'border-red-500 animate-shake animate-reverse'
                    : form.get('name')?.valid && form.get('name')?.touched
                    ? 'border-green-400'
                    : 'border-slate-300'
                "
              />
              <div
                [@fadeOut]="form.get('name')?.invalid"

                *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
                class="bg-red-100 mt-2 py-2 px-5 animate-fade-down rounded-lg mb-2"
              >
                  <ul class="text-red-500 list-disc">
                    <li>Doit contenir 3 caractères minimum</li>
                  </ul>
              </div>
            </div>
   -->
            <div class="mb-2">
              <input
                class="border p-2 bg-white border-slate-300 shadow-sm w-full rounded-xl"
                type="text"
                id="nickname"
                name="nickname"
                formControlName="nickname"
                placeholder="Saisir un prénom."
                [minLength]="3"
                required
                [ngClass]="
                  form.get('nickname')?.invalid && form.get('nickname')?.touched
                    ? 'border-red-500 animate-shake animate-reverse'
                    : form.get('nickname')?.valid &&
                      form.get('nickname')?.touched
                    ? 'border-green-400'
                    : 'border-slate-300'
                "
              />
              <div
                [@fadeOut]="form.get('nickname')?.invalid"
                *ngIf="
                  form.get('nickname')?.invalid && form.get('nickname')?.touched
                "
                class="bg-red-100 mt-2 py-2 px-5 animate-fade-down rounded-lg mb-2"
              >
                  <ul class="text-red-500 list-disc">
                    <li>Doit contenir 3 caractères minimum</li>
                  </ul>
              </div>
            </div>
            <div class="flex justify-center mx-4">
              <button
                type="submit"
                class="border animate-jump animate-normal border-green-500 bg-green-100 p-2.5 rounded-lg hover:bg-green-200 hover:cursor-pointer disabled:bg-transparent disabled:animate-none disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-red-100 disabled:border-red-500"
                [disabled]="form.invalid"
              >
                Créer mon compte
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
