<div id="loadWorkspace" #loadWorkspace class="py-2 mt-12 ">
  <h1 class="text-4xl font-bold text-slate-600">
    Charger un openspace
  </h1>

  <div class="font-light text-[#6B7280] pb-8">
    Selectionner votre openspace.
  </div>

  <div class="border rounded-lg p-3">
    <form action="" class="">
      <label for="pet-select">Selectionner un openspace:</label>

<select name="pets" id="pet-select">
  <option value="">--Please choose an option--</option>
  <option value="dog">Dog</option>
  <option value="cat">Cat</option>
  <option value="hamster">Hamster</option>
  <option value="parrot">Parrot</option>
  <option value="spider">Spider</option>
  <option value="goldfish">Goldfish</option>
</select>


    </form>
    <button
      class="border rounded-xl font-light p-3 hover:cursor-pointer mt-2"
      type="submit"
      id="button-addon2"
    >
      charger l'openspace
      <span></span>
    </button>
  </div>
</div>
<div class="   border rounded-lg  m-12 mb-6 w-4/6"   >
  <app-openspace-map></app-openspace-map>

</div>
